* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #facc15;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #facc15;
}

::selection {
  background-color: #facc15;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
